<% layout('/layouts/default.html', {title: '订单管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-notebook"></i> ${text('订单管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<!--<% if(hasPermi('order:order:edit')){ %>
					<a href="${ctx}/order/order/form" class="btn btn-default btnTool" title="${text('新增订单')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>-->
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${order}" action="${ctx}/order/order/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('订单状态')}：</label>
					<div class="control-inline width-120">
						<#form:select path="zt" dictType="order_status" blankOption="true" class="form-control"/>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label">${text('订单号')}：</label>
					<div class="control-inline">
						<#form:input path="id" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('手机')}：</label>
					<div class="control-inline">
						<#form:input path="khXx.sj" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('姓名')}：</label>
					<div class="control-inline">
						<#form:input path="khXx.xm" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
        {header:'${text("订单号")}', name:'id', index:'a.id', width:80, align:"left"},
        {header:'${text("订单状态")}', name:'zt', index:'a.zt', width:80, align:"center", formatter: function(val, obj, row, act){
            return js.getDictLabel(${@DictUtils.getDictListJson('order_status')}, val, '${text("未知")}', true);
        }},
		{header:'${text("买方")}', name:'khXx.wxtx', index:'k.wxtx', width:150, align:"left", formatter: function(val, obj, row, act){
            return '<img style="width: 60px" src='+val+'>  ' + row.khXx.wxnc + '/' + row.khXx.sj;
        }},
		{header:'${text("标题")}', name:'spXx.spmc', index:'', width:150, align:"left", formatter: function(val, obj, row, act){
            return val;
        }},
        {header:'${text("数量")}', name:'sl', index:'a.sl', width:80, align:"center"},
		{header:'${text("订单金额/元")}', name:'actualPayment', index:'a.actual_payment', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("下单时间")}', name:'createDate', index:'a.create_date', width:150, align:"center"},
		{header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('order:order:edit')){ %>
				actions.push('<a href="javascript:" onclick=orderDetail("'+ row.id +'") class="" title="${text("订单详情")}"><i class="fa fa-pencil"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});

//订单详情
function orderDetail(id) {
    console.log(id);
    layer.open({
        type: 2,
        maxmin: true,
        shadeClose: true,
        title :'订单详情',
        area: ['1000px', '500px'],
        content: '${ctx}/order/order/form?id=' + id //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
    });
}
</script>