<% layout('/layouts/default.html', {title: '会员卡管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('会员卡管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('hyk:vipCard:edit')){ %>
					<a href="${ctx}/hyk/vipCard/form" class="btn btn-default btnTool" title="${text('新增会员卡')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${vipCard}" action="${ctx}/hyk/vipCard/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('会员卡名称')}：</label>
					<div class="control-inline">
						<#form:input path="name" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('状态')}：</label>
					<div class="control-inline">
						<#form:radio path="sxj" dictType="status" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("会员卡名称")}', name:'name', index:'a.name', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/hyk/vipCard/form?id='+row.id+'" class="btnList" data-title="${text("编辑会员卡")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("副名称")}', name:'fname', index:'a.fname', width:150, align:"left"},
		{header:'${text("图片")}', name:'img', index:'a.img', width:150, align:"left", formatter: function(val, obj, row, act){
                return '<img style="width: 60px" src='+row.img+'>';
            }},
		{header:'${text("金额")}', name:'je', index:'a.je', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
        {header:'${text("赠送金额")}', name:'zje', index:'a.zje', width:150, align:"right", formatter: function(val, obj, row, act){
            return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
        }},
		{header:'${text("状态")}', name:'sxj', index:'a.sxj', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('status')}, val, '${text("未知")}', true);
		}},
		{header:'${text("说明")}', name:'remarks', index:'a.remarks', width:150, align:"left"},
		{header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('hyk:vipCard:edit')){ %>
				actions.push('<a href="${ctx}/hyk/vipCard/form?id='+row.id+'" class="btnList" title="${text("编辑会员卡")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/hyk/vipCard/delete?id='+row.id+'" class="btnList" title="${text("删除会员卡")}" data-confirm="${text("确认要删除该会员卡吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
                if (row.sxj == 2){
                    actions.push('<a href="${ctx}/hyk/vipCard/updateCardSxj?id='+row.id+'&sxj=1" class="btnList" title="${text("确认上架")}" data-confirm="${text("确认要上架该会员卡吗？")}"><i class="glyphicon glyphicon-eye-open"></i></a>&nbsp;');
                } else {
                    actions.push('<a href="${ctx}/hyk/vipCard/updateCardSxj?id='+row.id+'&sxj=2" class="btnList" title="${text("确认下架")}" data-confirm="${text("确认要下架该会员卡吗？")}"><i class="glyphicon glyphicon-eye-close"></i></a>&nbsp;');
                }
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>