<% layout('/layouts/default.html', {title: '权益回收明细管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<ul class="nav nav-tabs">
			<li role="presentation"><a href="${ctx}/qyhsmx/qyhsMx?zt=1">待审核</a></li>
			<li role="presentation" class="active"><a href="${ctx}/qyhsmx/qyhsMx?zt=2">已审核</a></li>
		</ul>
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('权益券审核管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<a href="#" class="btn btn-default" id="downloadclick" title="${text('批量下载')}"><i class="fa fa-check"></i> ${text('批量下载')}</a>
				<a href="#" class="btn btn-default" id="backclick" title="${text('批量退回')}"><i class="fa fa-close"></i> ${text('批量退回')}</a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${qyhsMx}" action="${ctx}/qyhsmx/qyhsMx/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<#form:hidden path="zt" value="1"/>
				<div class="form-group">
					<label class="control-label">${text('券标题')}：</label>
					<div class="control-inline width-120">
						<#form:select path="qyqId" items="${spList}" itemLabel="spmc" itemValue="id" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('出售人昵称')}：</label>
					<div class="control-inline">
						<#form:input path="khXx.wxnc" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('出售人手机')}：</label>
					<div class="control-inline">
						<#form:input path="khXx.sj" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('出售单号')}：</label>
					<div class="control-inline">
						<#form:input path="qyhsId" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">券有效期：</label>
					<div class="control-inline">
						<#form:input path="yxqDate_gte" readonly="readonly" maxlength="20" class="form-control Wdate-date"
								dataFormat="date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:true,onpicked:function(){createDate_lte.click()}});"/>
						&nbsp;--&nbsp;
						<#form:input path="yxqDate_lte" readonly="readonly" maxlength="20" class="form-control Wdate-date"
								dataFormat="date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:true});"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
    // 初始化DataGrid对象
    $('#dataGrid').dataGrid({
        searchForm: $("#searchForm"),
		multiselectWidth: 30,   // 复选框的宽度
        columnModel: [
            {header:'${text("状态")}', name:'zt', index:'a.zt', width:50, align:"center", formatter: function(val, obj, row, act){
                if(val == 2){
					return '无效券';
				}else if(val > 2 ){
					return '已审核';
				}else{
					return '待审核';
				}
            }},
            {header:'${text("类型")}', name:'type', index:'a.type', width:50, align:"center", formatter: function(val, obj, row, act){
                return js.getDictLabel(${@DictUtils.getDictListJson('qyq_type')}, val, '${text("未知")}', true);
            }},
            {header:'${text("券标题")}', name:'spXx.spmc', index:'', width:100, align:"left"},
            {header:'${text("卡详情")}', name:'', index:'', width:100, align:"left", formatter: function(val, obj, row, act){
                var str = "";
                if (row.type == 1){
                    str += "卡密：" + row.km + "<br>";
                }
                if (row.type == 2){
                    str += "卡号：" + row.kh + "<br>卡密：" + row.km + "<br>";
                }
                if (row.type == 3){
                    str += "<img style=\"width: 60px\" src=${@Global.getConfig('server.servlet.context-path')}" + row.img + " onclick='photos(this)'><br>" + "兑换码：" + row.kh + "<br>";
                }
                str += "有效期：" + row.yxqDate;
                return str;
            }},
            {header:'${text("出售人头像")}', name:'khXx.wxtx', index:'', width:50, align:"left", formatter: function(val, obj, row, act){
                return '<img style="width: 60px" src='+val+'>';
            }},
            {header:'${text("出售人昵称")}', name:'khXx.wxnc', index:'', width:50, align:"left"},
            {header:'${text("手机号")}', name:'khXx.sj', index:'', width:50, align:"left"},
            {header:'${text("出售单号")}', name:'qyhsId', index:'a.qyhs_id', width:80, align:"left"},
            {header:'${text("出售时间")}', name:'createDate', index:'a.create_date', width:70, align:"left"}
        ],
        showCheckbox: true,    // 是否显示复选框
        // 加载成功后执行事件
        ajaxSuccess: function(data){
            js.getCurrentTabPage(function(contentWindow){ contentWindow.page();}, false);
        }
    });


    //放大图片
    function photos(obj)
    {
        //console.log(obj.src);
        layer.photos({photos: {"title":"","id":123,"data":[{"alt":"","pid":"","src":obj.src}]}
            ,anim:5});
    }

	//批量下载
	$("#downloadclick").click(function(){
		var str = [];
		console.log($('#dataGrid').dataGrid('getSelectRows'));
		str = $('#dataGrid').dataGrid('getSelectRows');
		console.log(str.length);
		if (str.length == 0){
			js.showMessage("请选择券");
		}else {
			var url = '${ctx}/qyhsmx/qyhsMx/downloadQuan' + '?str=' + str.join(",");
			window.open(url);
			/*js.confirm('确认批量下载吗？', '${ctx}/qyhsmx/qyhsMx/downloadQuan', {"str": str.join(",") }, function (data) {
				js.showMessage(data.message);
				if(data.result == Global.TRUE){
					$('#dataGrid').dataGrid('reloadGrid');
				}
			}, 'json', true, '批量下载中...');*/
		}
	})

	//批量拒绝
	$("#backclick").click(function(){
		var str = [];
		console.log($('#dataGrid').dataGrid('getSelectRows'));
		str = $('#dataGrid').dataGrid('getSelectRows');
		console.log(str.length);
		if (str.length == 0){
			js.showMessage("请选择券");
		}else {
			js.confirm('确认批量退回券吗？', '${ctx}/qyhsmx/qyhsMx/updateTgOrTh', {"str": str.join(",") , "type":"22"}, function (data) {
				js.showMessage(data.message);
				if(data.result == Global.TRUE){
					$('#dataGrid').dataGrid('reloadGrid');
				}
			}, 'json', true, '正在退回...');
		}
	})
</script>