<% layout('/layouts/default.html', {title: '题目类型管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('题目类型管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('exam:examType:edit')){ %>
					<a href="${ctx}/exam/examType/form" class="btn btn-default btnTool" title="${text('新增题目类型')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${examType}" action="${ctx}/exam/examType/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('题库名称')}：</label>
					<div class="control-inline">
						<#form:input path="typeName" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('题库类型')}：</label>
					<div class="control-inline width-120">
						<#form:select path="answerWay" dictType="exam_type" blankOption="true" class="form-control"/>
					</div>
				</div>
				<!--<div class="form-group">
					<label class="control-label">${text('题库状态')}：</label>
					<div class="control-inline">
						<#form:input path="isActive" maxlength="1" class="form-control width-120"/>
					</div>
				</div>-->
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script src="${ctxStatic}/common/clipboard.min.js"></script>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("题库名称")}', name:'typeName', index:'a.type_name', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/exam/examType/form?id='+row.id+'" class="btnList" data-title="${text("编辑题目类型表")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("题库类型")}', name:'answerWay', index:'a.answer_way', width:150, align:"left", formatter: function(val, obj, row, act){
                return js.getDictLabel(${@DictUtils.getDictListJson('exam_type')}, val, '${text("未知")}', true);
            }},
		{header:'${text("随机题数")}', name:'randomExam', index:'a.random_exam', width:150, align:"center"},
		{header:'${text("状态")}', name:'isActive', index:'a.is_active', width:150, align:"left", formatter: function(val, obj, row, act){
                return js.getDictLabel(${@DictUtils.getDictListJson('exam_status')}, val, '${text("未知")}', true);
            }},
		{header:'${text("创建时间")}', name:'createDate', index:'a.create_date', width:150, align:"center"},
		{header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('exam:examType:edit')){ %>
				actions.push('<a href="${ctx}/exam/examType/form?id='+row.id+'" class="btnList" title="${text("编辑题库")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/exam/examType/delete?id='+row.id+'" class="btnList" title="${text("删除题库")}" data-confirm="${text("确认要删除该题库吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
                actions.push('<a href="${ctx}/exam/examTitle/list?typeId='+row.id+'" class="btnList" title="${text("查看题目")}"><i class="fa fa-tasks"></i></a>&nbsp;');
				actions.push('<a href="#" class="btnfz" data-clipboard-text="'+row.id+'" title="${text("复制内部链接")}"><i class="fa fa-file-text"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});


var clipboard = new ClipboardJS('.btnfz');
clipboard.on('success', function(e) {
    //console.info('Action:', e.action);
    //console.info('Text:', e.text);
    //console.info('Trigger:', e.trigger);
    e.clearSelection();
    js.showMessage("复制成功："+e.text);
});

clipboard.on('error', function(e) {
    console.error('Action:', e.action);
    //console.error('Trigger:', e.trigger);
    js.showMessage("复制失败");
});
</script>