<% layout('/layouts/default.html', {title: '餐厅预订表管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('餐厅预订管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<!--<% if(hasPermi('ctyd:ctyd:edit')){ %>
					<a href="${ctx}/ctyd/ctyd/form" class="btn btn-default btnTool" title="${text('新增餐厅预订表')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>-->
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${ctyd}" action="${ctx}/ctyd/ctyd/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('关键字查询')}：</label>
					<div class="control-inline">
						<#form:input path="gjz" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('预定状态')}：</label>
					<div class="control-inline">
						<#form:select path="zt" dictType="ctyd_zt" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
        {header:'${text("状态")}', name:'zt', index:'a.zt', width:150, align:"center", formatter: function(val, obj, row, act){
                return js.getDictLabel(${@DictUtils.getDictListJson('ctyd_zt')}, val, '${text("未知")}', true);
            }},
		{header:'${text("微信昵称")}', name:'khXx.wxnc', index:'', width:150, align:"center", formatter: function(val, obj, row, act){
            return val == null ? '匿名':val;
        }},
		{header:'${text("微信头像")}', name:'khXx.wxtx', index:'', width:150, align:"center",formatter: function(val, obj, row, act){
            return  val == null ? '<img style="width: 50px;height: 50px" src="${ctxStatic}/mrtx.png"  />':'<img style="width: 50px;height: 50px" src="'+row.khXx.wxtx+'"  />';
        }},
		{header:'${text("预订详情")}', name:'rs', index:'', width:200, align:"left",formatter: function(val, obj, row, act){
            var str = '先生';
		    if(row.sex == 2){str = '女士'}
                return row.rs + '人、' + row.ydDate + '、' + row.ydTime + '、' + row.yddf + '<br>' +
					row.name + str + ' ' + row.phone + '<br>' + '备注：' + row.remarks;
            }},
		/*{header:'${text("姓名")}', name:'name', index:'a.name', width:150, align:"left"},
		{header:'${text("性别 1 男 2 女")}', name:'sex', index:'a.sex', width:150, align:"center"},
		{header:'${text("电话")}', name:'phone', index:'a.phone', width:150, align:"left"},
		{header:'${text("备注信息")}', name:'remarks', index:'a.remarks', width:150, align:"left"},*/
		{header:'${text("提交时间")}', name:'createDate', index:'a.create_date', width:150, align:"center"},
		{header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			if(row.zt == 1){
				actions.push('<a href="${ctx}/ctyd/ctyd/updateCtyd?id='+row.id+'&zt=3" class="btnList" title="${text("确认预定")}" data-confirm="${text("该餐厅预定订单确认预约吗？")}"><i class="glyphicon glyphicon-eye-open"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/ctyd/ctyd/updateCtyd?id='+row.id+'&zt=2" class="btnList" title="${text("取消预定")}" data-confirm="${text("要取消该餐厅订单的预约吗？")}"><i class="glyphicon glyphicon-eye-close"></i></a>&nbsp;');
			}
			if (row.zt == 3){
                actions.push('<a href="${ctx}/ctyd/ctyd/updateCtyd?id='+row.id+'&zt=4" class="btnList" title="${text("确认用餐")}" data-confirm="${text("确认客户已用餐吗？")}"><i class="glyphicon glyphicon-eye-open"></i></a>&nbsp;');
			}
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>