<% layout('/layouts/default.html', {title: '分销管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-notebook"></i> ${text('分销管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<!--<% if(hasPermi('txsh:txsh:edit')){ %>
					<a href="${ctx}/txsh/txsh/form" class="btn btn-default btnTool" title="${text('新增体现审核')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>-->
				<!--<a href="#" class="btn btn-default" id="tx_backclick" title="${text('批量审核不通过')}"><i class="fa fa-close"></i> ${text('批量审核不通过')}</a>-->
				<a href="#" class="btn btn-default" id="sell_abort" title="${text('批量中止')}"><i class="fa fa-close"></i> ${text('批量中止')}</a>
				<a href="#" class="btn btn-default" id="sell_pay" title="${text('批量执行打款')}"><i class="fa fa-close"></i> ${text('批量执行打款')}</a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${txsh}" action="${ctx}/txsh/txsh/listDataSell" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('提现状态')}：</label>
					<div class="control-inline width-120">
						<#form:select path="zt" dictType="txsq_status" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('申请单号')}：</label>
					<div class="control-inline">
						<#form:input path="id" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('相关订单号')}：</label>
					<div class="control-inline">
						<#form:input path="orderId" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('手机')}：</label>
					<div class="control-inline">
						<#form:input path="khXx.sj" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('姓名')}：</label>
					<div class="control-inline">
						<#form:input path="khXx.xm" class="form-control width-120"/>
					</div>
				</div>

				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
        {header:'${text("申请单号")}', name:'id', index:'a.id', width:160, align:"left"},
        {header:'${text("相关订单号")}', name:'orderId', index:'a.order_id', width:160, align:"left"},
        {header:'${text("审核状态")}', name:'zt', index:'a.zt', width:150, align:"center", formatter: function(val, obj, row, act){
            return js.getDictLabel(${@DictUtils.getDictListJson('txsq_status')}, val, '${text("未知")}', true);
        }},
		{header:'${text("买家")}', name:'khBuy.wxtx', index:'m.wxtx', width:150, align:"left", formatter: function(val, obj, row, act){
				return '<img style="width: 60px" src='+val+'>  ' + row.khBuy.wxnc;
			}},
		{header:'${text("收益者")}', name:'khXx.wxtx', index:'k.wxtx', width:150, align:"left", formatter: function(val, obj, row, act){
            return '<img style="width: 60px" src='+val+'>  ' + row.khXx.wxnc;
        }},
		{header:'${text("收益级别")}', name:'type', index:'a.type', width:150, align:"left", formatter: function(val, obj, row, act){
			if(row.type && row.type == '1'){
				return '一级收益';
			}
			if(row.type && row.type == '2'){
				return '二级收益，上家客户id为：' + row.khidShowOne;
			}
			return '未知类型：' + row.type;
			}},
		{header:'${text("提现金额")}', name:'txje', index:'a.txje', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("提交时间")}', name:'createDate', index:'a.create_date', width:150, align:"center"},
		{header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('txsh:txsh:edit')){ %>
				actions.push('<a href="javascript:" onclick=txqy("'+ row.id +'") class="" title="${text("查看详情")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				/*if (row.zt == 1){
                    actions.push('<a href="${ctx}/txsh/txsh/tssq?id='+row.id+'" class="btnList" title="${text("通过审核")}" data-confirm="${text("确认要通过该提现申请吗？")}"><i class="fa fa-server"></i></a>&nbsp;');
				}*/
			<% } %>
			return actions.join('');
		}}
	],
	showCheckbox: true,    // 是否显示复选框
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});


//提现申请中的权益
function txqy(id,khid,qyqId) {
	console.log(id);
	layer.open({
		type: 2,
		maxmin: true,
		shadeClose: true,
		title :'提现明细',
		area: ['1000px', '500px'],
		content: '${ctx}/txsh/txsh/qyhsMxTxList?sqdh=' + id  //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
	});
}

//批量中止
$("#sell_abort").click(function(){
	var str = [];
	console.log($('#dataGrid').dataGrid('getSelectRows'));
	str = $('#dataGrid').dataGrid('getSelectRows');
	console.log(str.length);
	if (str.length == 0){
		js.showMessage("请选订单信息！");
	}else {
		js.confirm('确认中止打款吗？', '${ctx}/txsh/txsh/updateSellPay', {"str": str.join(",") , "type":"4"}, function (data) {
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				$('#dataGrid').dataGrid('reloadGrid');
			}
		}, 'json', true, '正在中止...');
	}
})

//批量打款
$("#sell_pay").click(function(){
	var str = [];
	console.log($('#dataGrid').dataGrid('getSelectRows'));
	str = $('#dataGrid').dataGrid('getSelectRows');
	console.log(str.length);
	if (str.length == 0){
		js.showMessage("请选订单信息！");
	}else {
		js.confirm('确认立即打款给卖家吗？', '${ctx}/txsh/txsh/updateSellPay', {"str": str.join(",") , "type":"2"}, function (data) {
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				$('#dataGrid').dataGrid('reloadGrid');
			}
		}, 'json', true, '正在打款...');
	}
})
</script>